<form id="login-form" action="/login" method="post" >
  <header>
    <h1>Account Login</h1>
  </header>
  <input type="email" id="email-input" name="email" placeholder="email">
  <input type="password" id="password-input" name="password" placeholder="password">
  <button type="submit">Sign in</button>
</form>